#player {
    background-color: blue;
    width: 150px;
    height: 150px;
    position: fixed;
    left: 0;
    top: 0;
}
#jatekterulet {
    border:1px solid black;
    background: gray;
    position: fixed;
    z-index:0;
}
.tile {
    position: fixed;
    border: 1px solid blue;
    z-index: 2;
}