#player {
    background-color: black;
    position: fixed;
    z-index:3;
}
#jatekterulet {
    border:1px solid black;
    background: gray;
    position: fixed;
    z-index:0;
}
.tile {
    position: fixed;
    border: 1px solid blue;
    z-index: 2;
}
.fal{
    background-color: black;
}
.coin {
    background-image: url("./coin.png");
    background-color: darkgoldenrod;
    z-index: 2;

}
.restart 
{
    background-color: red;
}